<div>
    <div>
        <h3>Персонаж</h3>
    </div>
    <div *ngIf="item">
        <p>Имя: {{item.name}}</p>
        <p>Класс: {{item.class1}} ({{item.class1Level}})</p>
        <p>Раса: {{item.race}}</p>
        <p>Фракция: {{item.faction}}</p>
        <p>Всего убийств: {{item.totalKills}}</p>
        <p>Всего смертей: {{item.totalDeaths}}</p>
    </div>
</div>

<div>
    <p>Убийства</p>
    <kill-list [items]="killItems"></kill-list>
</div>
<div>
    <p>Смерти</p>
    <kill-list [items]="deathItems"></kill-list>
</div>
