.killitem {
    margin: 1px 5px 1px 5px;
}

.redkill {
    background: #832224;
}

    .redkill:hover {
        background: red;
    }

.bluekill {
    background: #173168;
}

    .bluekill:hover {
        background: blue;
    }

.yellowKill {
    background: #AA8E39;
}

    .yellowKill:hover {
        background: #D0A31E;
    }
