<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Время</th>
            <th>Жертва</th>
            <th>Класс</th>
            <th>Убийца</th>
            <th>Место</th>
            <th>Фракция</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items" [ngClass]="(item.victimFactionId=='1')?'info':'danger'">
            <td><a [routerLink]="['/kill', item.killId]">{{item.killTime | date:"dd.MM.yyyy HH:mm:ss"}}</a></td>
            <td><a [routerLink]="['/player', item.victimId]">{{item.victimName}}</a></td>
            <td><a [routerLink]="['/class', item.victimClassId]">{{item.victimClass}}</a></td>
            <td><a [routerLink]="['/player', item.killerId]">{{item.killerName}}</a></td>
            <td><a [routerLink]="['/location', item.locationId]">{{item.locationName}}</a></td>
            <td><a [routerLink]="['/faction', item.victimFactionId]">{{item.victimFaction}}</a></td>
        </tr>
    </tbody>
</table>