<div *ngIf="items">
    <p-dataGrid [value]="items">
        <p-header>
            <div class="ui-g">
                <div class="ui-g-4">
                    <div class="ui-grid-col-4 left-text">Класс</div>
                    <div class="ui-grid-col-4">Убийства</div>
                    <div class="ui-grid-col-4">Смерти</div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-grid-col-4 left-text">Класс</div>
                    <div class="ui-grid-col-4">Убийства</div>
                    <div class="ui-grid-col-4">Смерти</div>
                </div>
                <div class="ui-g-4">
                    <div class="ui-grid-col-4 left-text">Класс</div>
                    <div class="ui-grid-col-4">Убийства</div>
                    <div class="ui-grid-col-4">Смерти</div>
                </div>
            </div>
        </p-header>
        <ng-template let-kill pTemplate="item">
            <div class="ui-g-4">
                <div class="ui-grid-col-4 left-text">{{kill.className}}</div>
                <div class="ui-grid-col-4 center-text">{{kill.classKills}}</div>
                <div class="ui-grid-col-4 center-text">{{kill.classDeaths}}</div>
                <hr class="ui-widget-content" style="border-top: 0">
            </div>
        </ng-template>
    </p-dataGrid>
</div>