<div class="ui-g">
    <div class="ui-g-4">
        <a [routerLink]="['/home', prevPageNum || '']">&larr; Туда</a>
    </div>
    <div class="ui-g-4 center-text">
        {{page || 1}}
    </div>
    <div class="ui-g-4 right-text">
        <a [routerLink]="['/home', nextPageNum || '']">Сюда &rarr;</a>
    </div>
</div>
<kill-list [items]="items"></kill-list>
<div class="ui-g">
    <div class="ui-g-4">
        <a [routerLink]="['/home', prevPageNum || '']">&larr; Туда</a>
    </div>
    <div class="ui-g-4 center-text">
        {{page || 1}}
    </div>
    <div class="ui-g-4 right-text">
        <a [routerLink]="['/home', nextPageNum || '']">Сюда &rarr;</a>
    </div>
</div>