<div>
    <div>
        <div>
            <ul>
                <li><a [routerLink]="['/home', prevPageNum || '']">&larr; Older</a></li>
                {{page || 1}}
                <li><a [routerLink]="['/home', nextPageNum || '']">Newer &rarr;</a></li>
            </ul>
            <kill-list [items]="items"></kill-list>
            <ul>
                <li><a [routerLink]="['/home', prevPageNum || '']">&larr; Раньше</a></li>
                {{page || 1}}
                <li><a [routerLink]="['/home', nextPageNum || '']">Позже &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>